<% if @browser.device.mobile? %>
    <%= render 'mobile.available' %>
    <% else %>
<%= render 'navigation/desktop/top_bar' %>
        <div class="w-full bg-blue-900 flex min-h-screen">
            <aside class="w-1/4 h-full bg-blue-900 grid">
                <%= render 'layouts/dashboard/side_nav' %>
            </aside>
            <div class="w-full px-4 min-h-full bg-gray-200">
                <div x-data="{ tab: 'furnitures' }">
                    <div class="flex items-center justify-center space-x-8 my-2">
                        <button :class="{ 'active': tab === 'furnitures' }" @click="tab = 'furnitures'" class="focus:outline-none bg-white focus:bg-gray-400 rounded-lg p-3 border">all</button>
                        <button :class="{ 'active': tab === 'for sale' }" @click="tab = 'for sale'" class="focus:outline-none bg-white focus:bg-gray-400 rounded-lg p-3 border">for sale</button>
                        <button :class="{ 'active': tab === 'sold' }" @click="tab = 'sold'" class="focus:outline-none bg-white focus:bg-gray-400 rounded-lg p-3 border">sold</button>
                        <button :class="{ 'active': tab === 'for display' }" @click="tab = 'for display'" class="focus:outline-none bg-white focus:bg-gray-400 rounded-lg p-3 border">for display</button>
                    </div>
                
                <div class="grid grid-cols-5 place-items-center justify-items-start gap-4 shadow-xl py-3 bg-white capitalize font-semibold text-blue-700 my-2">
                    <div></div>
                    <div class="text-center">category</div>
                    <div>address</div>
                    <div>price</div>
                    <div>actions</div>
                </div>

                    <div x-show="tab === 'furnitures'"><%= render 'layouts/dashboard/furniture_content', obj: current_user.furnitures %></div>
                    <div x-show="tab === 'for sale'"><%= render 'layouts/dashboard/furniture_content', obj: current_user.furnitures.available.for_sale %></div>
                    <div x-show="tab === 'sold'"><%= render 'layouts/dashboard/furniture_content', obj: current_user.furnitures.sold %></div>
                    <div x-show="tab === 'for display'"><%= render 'layouts/dashboard/furniture_content', obj: current_user.furnitures.for_display %></div>
                
                </div>
            </div>
        </div>
<% end %>
