
<% @rentors.each do |rentor| %>
      <tr>
        <td><%= link_to rentor.id, rentor_path(rentor) %></td>
        <td><%= rentor.name %></td>
        <td><%= rentor.phone_number %></td>
        <td><%=l rentor.created_at %></td>
        <%= link_to 'delete', rentor_path(rentor), method: :delete %>
      </tr>
    <% end %>
