
  <div class="flex justify-center text-lg mx-24 my-6 p-4 border-1 border-gray-300 rounded-lg capitalize" style="background-color: rgba(15, 44, 35, 0.219);">
    <div class="text-teal-700" style="width: 64rem;">
      <div class="border-b-2 border-gray-900 uppercase text-xl text-gray-800 font-semibold my-6">property booking summary</div>
      <div class="space-y-3">
        <p class="capitalize">
          <strong> Name:</strong>
          <%=  @rentor.rentor_first_name  %>
        </p>

        <p class="capitalize">
          <strong> Email:</strong>
          <%=  @rentor.rentor_last_name %>
        </p>

        <p class="capitalize">
          <strong> phone:</strong>
          <%=  @rentor.rentor_phone_number %>
        </p>

        <p>
          <strong> Property Interested:</strong>
          <%=  Property.find(@rentor.property_id).name %>
          <%  Property.find(@rentor.property_id) do %>
            <% if @rentor.property.property_cover_photo.attached? %>
              <%= image_tag @rentor.property.property_cover_photo, class:"h-48 w-48 rounded-t-lg object-cover object-center" %>
            <% end %>
          <% end %>
        </p>
        <p class="capitalize">
          <strong> property price:</strong>
          <%=  Property.find(@rentor.property_id).price %> kshs
        </p>
        <p class="capitalize">
          <strong> location:</strong>
          <%=  Property.find(@rentor.property_id).address %>
        </p>
        <p class="capitalize">
          <strong> property bedrooms:</strong>
          <%=  Property.find(@rentor.property_id).bedrooms %> bedrooms
        </p>
      </div>
      <div class="my-4">
        <%= link_to 'Back to rentals', properties_path, :class=>"text-sm font-semibold p-2 w-auto bg-teal-700 text-white uppercase text-center" %>
      </div>
    </div>
  </div>
  