<div class="flex px-24 items-center text-5xl py-3 relative">
    <div class="flex-grow capitalize font-bold text-green-700 w-full">fulcrum</div>
    
      <div x-data="{ open: false }" class="table">
        <button @click="open = !open" class="focus:outline-none inline-block text-gray-700 hover:text-black">
          <i class="fa fa-bars"></i>
        </button>

        <ul x-show.transition="open" class="bg-white absolute mt-2 shadow-2xl rounded w-auto px-8 py-2 text-gray-800 font-normal capitalize right-0 z-auto">
            <li class="py-2 px-3 my-2 block border-t-2"><%= link_to 'home page', root_path %></li>
            <li class="py-2 px-3 my-2 block border-t-2"><%= link_to 'lands', all_properties_path %></li>
            <li class="py-2 px-3 border-b my-2 block border-t-2"> <%= link_to 'furniture', home_rentals_path %>
            <li class="py-2 px-3 my-2 block border-t-2"><%= link_to 'interior design', home_property_on_sale_path %></li>
          <% if user_signed_in? %>
            <li class="py-2 px-3 my-2 block border-t-2"><%= link_to 'profile', current_user %></li>
            <li class="py-2 px-3 border-b my-2 block border-t-2"> <%= link_to 'dashboard', dashboard_path %>
            <li class="py-2 px-3 my-2 block border-t-2"><%= link_to 'edit account', edit_user_registration_path %></li>
            <li class="py-2 px-3 my-2 block border-t-2"><%= link_to 'add property', new_property_path %></li>
            <li class="py-2 px-3 my-2 block border-t-2 bg-red-700 text-white text-center rounded-lg"><%= link_to 'logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="py-2 px-3 my-2 block border-t-2 font-normal bg-green-700 text-white text-center rounded-lg"><%= link_to 'login', new_user_session_path %></li>
          <% end %>

        </ul>
      </div>
</div>