<%= form_with(model: furniture, local: true) do |form| %>
  <% if furniture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(furniture.errors.count, "error") %> prohibited this furniture from being saved:</h2>

      <ul>
        <% furniture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid border shadow-md rounded-lg p-4 text-sm bg-white">
    <div class="px-5">
      <%= form.label :description %>
      <%= form.text_field :description, class:"my-2 border mx-5 p-1", placeholder:"e.g. sofa sets" %>
    </div>
      <div class="flex px-5 items-center">
          <div class="capitalize">category:</div>
          <select name="furniture[furniture_category_id]" class="mx-5 p-2 rounded-sm text-center bg-teal-700 text-white">
              <% FurnitureCategory.all.each do |furniture_category| %>
                  <option value="<%= furniture_category.id %>"><%= furniture_category.name %></option>
              <% end %>
          </select>
      </div>
    <br>
    <div class="px-5">
    <%= form.label :for_sale %><br>
      <div class="capitalize mx-5">
        <%= form.select :for_sale, options_for_select({"for sale" => true, "for display" => false}, @furniture.for_sale),{}, {class: 'bg-white capitalize border p-2', selected: @set} %>
        <% opts = @furniture.for_sale? ? { "available" => "available" , "sold" => "sold" } : { "available" => "available" , "for display" => "for display" } %>
      </div>
    </div>
    <div class="px-5">
        <%= form.label :status %><br>
        <div class="capitalize mx-5">
          <%= form.select :status, options_for_select(opts, @furniture.status), {}, {class: 'bg-white capitalize border p-2', selected: @set} %>
      </div>
    </div>
    <div class="px-5 capitalize">
      <div>furniture cover photo</div>
      <%= form.file_field :furniture_cover_photo, class:"my-2 border mx-5 p-1" %>
    </div>


    <div class="px-5">
      <%= form.label :address %><br>
      <%= form.text_field :address, class:"my-2 border mx-5 p-1", placeholder:"e.g. eldoret, hawaii" %>
    </div>

    <div class="px-5">
      <%= form.label :price %><br>
      <%= form.number_field :price, class:"my-2 border mx-5 p-1" %>
    </div>

    <div class="px-5">
      <%= form.label :furniture_images %> Link<br>
      <%= form.text_field :furniture_images, class:"my-2 border p-1 mx-5 w-full", placeholder:"paste your google photos link here" %>
    </div>

    <div class="px-5 overflow-auto">
      <%= form.label :searchtags, class:"" %><br>
      <%= form.rich_text_area :searchtags, class:"border p-1 h-full w-full break-words overflow-hidden", id:"property_description" %>
    </div>

    <div class="px-5 grid justify-items-center mt-6">
      <%= form.submit disable_with: 'Submiting...', class:"font-medium text-lg bg-teal-700 text-white p-3 capitalize" %>
    </div>
  </div>
<% end %>
