<% if @agent_properties.available.present? %>
<h1>other available properties by this agent</h1>
  <div class="flex space-x-4 px-24">
    <% @agent_properties.available.each do |property| %>
      <%= link_to property do %>
        <%= image_tag property.property_cover_photo , class: "h-32 object-cover object-center w-40"%>
        <%= property.user.company_name %>
        <%= property.address %>
        <%= property.price %>
        <%= property.bedrooms %>
      <% end %>
    <% end %>
  </div>
<% end %>
