<p id="notice"><%= notice %></p>
<% if @agent_properties.available.present? %>
<h1>other available properties by this agent</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agent_properties.available.each do |property| %>
      <tr><%= link_to property do %>
      <%= property.user.email %>
      <%= property.address %>
      <%= property.price %>
      <%= property.bedrooms %>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
