<p id="notice"><%= notice %></p>
      <%= image_tag @property.property_cover_photo if @property.property_cover_photo.present? %>
<br>
<br>
<%= @property.user.email %>
<% if @property.for_sale? %>
<%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "for sale" %>
<% else %>
<%= @property.price > 0 ? number_to_currency(@property.price, precision: 0) : "for sale" %>/month
<% end %>
<%= @property.address %>

<%= @property.bedrooms %>
<br>
<br>
<%= @agent.email %>
<br>
<%= @agent.company %>
<br>

nearby properties
<br>
<% if @property.nearbys.available.present? %>
<% @property.nearbys.available.each do |property| %>
    <%= link_to property.address, property %>(<%= property.distance.round(2) %> kms)
    <br>
<% end %>
<% end %>
<%= render 'agent_properties' %>
<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>