    <%= render 'navigation/mobile/top_bar' %>
<div class="bg-cover bg-center py-6" style="background-image: url(https://images.unsplash.com/photo-1521334884684-d80222895322?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);background-color: rgba(0,0,0,0.4);background-blend-mode: multiply;">
    <div class="text-center text-6xl capitalize text-white py-6 font-bold">find furniture in kenya</div>
</div>
<div class="bg-white my-3 px-16">
    <div class="my-3 min-h-screen">
        <% Furniture.available.each do |furniture| %>
            <div class="shadow-2xl rounded-lg capitalize text-4xl my-8">
                <%= link_to show_furniture_url(furniture) do %>
                    <div class="w-full">
                        <%= image_tag furniture.furniture_cover_photo , class: "mobile-furniture-show-image w-full object-cover object-center" if furniture.furniture_cover_photo.attached? %>
                    </div>
                    <div class="py-3 px-24">
                        <div class="font-bold">
                        <%= furniture.description %><br>
                        </div>
                        <div class="text-gray-700">
                        <%= furniture.address %><br>
                        </div>
                        <div class="text-teal-700 font-bold whitespace-normal">
                            <% if furniture.for_sale? %>
                                <%= furniture.price > 0 ? number_to_currency(furniture.price, unit: "kshs", precision: 0) : "for sale" %>
                            <% else %>
                                <%= furniture.price > 0 ? number_to_currency(furniture.price, unit: "kshs", precision: 0) : "for display" %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<div class="sticky bottom-0">
    <%= render 'navigation/mobile/footer' %>
</div>
