    <%= render 'navigation/mobile/top_bar' %>
<div class="bg-cover bg-center py-6" style="background-image: url(https://images.unsplash.com/photo-1521334884684-d80222895322?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);background-color: rgba(0,0,0,0.4);background-blend-mode: multiply;">
    <div class="text-center text-6xl capitalize text-white py-6 font-bold">find rentals in kenya</div>
    <div class="grid justify-items-center">
        <form action="" class="flex">
            <input type="text" placeholder="try eldoret..." class="p-2 text-4xl capitalize">
            <button class="bg-teal-700 text-white capitalize p-4 text-4xl hover:shadow-2xl">search</button>
        </form>
    </div>
</div>
<div class="bg-white my-3 px-16">
    <div class="my-3 min-h-screen">
        <% Property.available.each do |property| %>
            <div class="shadow-2xl rounded-lg capitalize text-4xl my-8">
                <%= link_to show_property_url(property) do %>
                    <div class="w-full">
                        <%= image_tag property.property_cover_photo , class: "mobile-property-show-image w-full object-cover object-center" if property.property_cover_photo.attached? %>
                    </div>
                    <div class="py-3 px-24">
                        <div class="font-bold">
                        <%= property.name %><br>
                        </div>
                        <div class="text-gray-700">
                        <%= property.address %><br>
                        </div>
                        <div class="text-teal-700 font-bold whitespace-normal">
                            <% if property.for_sale? %>
                                <%= property.price > 0 ? number_to_currency(property.price, unit: "kshs", precision: 0) : "for sale" %>
                            <% else %>
                                <%= property.price > 0 ? number_to_currency(property.price, unit: "kshs", precision: 0) : "for rent" %>/month
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
<div class="sticky bottom-0">
    <%= render 'navigation/mobile/footer' %>
</div>
