<%= form_with(model: furniture_category, local: true) do |form| %>
  <% if furniture_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(furniture_category.errors.count, "error") %> prohibited this furniture_category from being saved:</h2>

      <ul>
        <% furniture_category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

    <div class="px-5 overflow-auto">
      <%= form.label :searchtags, class:"" %><br>
      <%= form.rich_text_area :searchtags, class:"border p-1 h-full w-full break-words overflow-hidden", id:"property_description" %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
