<div class="text-sm shadow-md sticky top-0 bg-white flex py-3 px-24 text-gray-800 space-x-5 capitalize font-medium">
  <%= link_to 'all properties', all_properties_path %>
  <%= link_to 'rentals', home_rentals_path %>
  <%= link_to 'for sale', home_property_on_sale_path %>
  <%= link_to 'real estate agents', users_path %>

  <div class="flex-grow"></div>
    <% if user_signed_in? %>

      <div x-data="{ open: false }" class="inline-block relative">
        <button @click="open = true"><%= current_user.company_name %></button>

        <ul x-show.transition="open" @click.away="open = false">
          <div class="capitalize flex-col absolute bg-white font-medium my-3 w-full text-xs p-2 shadow-2xl items-center">
            <div class="py-1">
              <%= link_to 'your account', current_user %>
            </div>
            <div class="py-1">
              <%= link_to 'dashboard', dashboard_path %>
            </div>
            <div class="py-1">
              <%= link_to 'edit account', edit_user_registration_path %>
            </div>
            <div class="py-1 bg-blue-900 rounded text-white text-center">
              <%= link_to 'add property', new_property_path %>
            </div>
            <div class="py-1 text-red-700">
              <%= link_to 'logout', destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </ul>
      </div>
    <% else %>
      <%= link_to 'login', new_user_session_path %>
      <%= link_to 'signup', new_user_registration_path %>
  <% end %>
</div>