<!DOCTYPE html>
<html>
  <head>
    <title>Fulcrum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url "favicon_io/apple-touch-icon.png"%>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url "favicon_io/favicon-32x32.png" %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url "favicon_io/favicon-16x16.png"%>">
<link rel="manifest" href="<%= asset_url "favicon_io/site.webmanifest" %>">

  </head>

  <body>
  <% if user_signed_in? %>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
  <%= link_to "profile", current_user %>
<% else %>
  <%= link_to 'login', new_user_session_path %>
  <%= link_to 'signup', new_user_registration_path %>
  
  <% end %>
  <%= link_to 'users', users_path %>
  <%= link_to 'properties', properties_path %>
  <%= link_to 'new_property', new_property_path %>
    <%= yield %>
  </body>
</html>
