<!DOCTYPE html>
<html>
  <head>
    <title>Fulcrum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url "favicon_io/apple-touch-icon.png"%>">
<link rel="icon" type="image/png" sizes="32x32" href="<%= asset_url "favicon_io/favicon-32x32.png" %>">
<link rel="icon" type="image/png" sizes="16x16" href="<%= asset_url "favicon_io/favicon-16x16.png"%>">
<link rel="manifest" href="<%= asset_url "favicon_io/site.webmanifest" %>">

  </head>

  <body>
<div class="text-sm shadow-md sticky top-0 bg-white flex py-3 px-24 text-gray-800 space-x-5 capitalize font-medium">
  <%= link_to 'all properties', properties_path %>
  <%= link_to 'rentals', home_rentals_path %>
  <%= link_to 'for sale', home_property_on_sale_path %>
  <%= link_to 'real estate agents', users_path %>

  <div class="flex-grow"></div>
    <% if user_signed_in? %>
      <%= link_to 'dashboard', dashboard_path %>
      <%= link_to current_user.company_name, current_user %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'login', new_user_session_path %>
      <%= link_to 'signup', new_user_registration_path %>
  <% end %>
  </div>
    <%= yield %>
    <div class="bottom-0 py-3 px-24 bg-teal-700 text-white flex space-x-8 capitalize">
      <div class="justify-self-center text-center font-extrabold capitalize">myfulcrumlogo.com</div>
      <div class="flex-grow"></div>
      <div>safety tips</div>
      <div>talk to us</div>
      <div>careers</div>
    </div>
  </body>
</html>
